

/* Fondo único para la página de visualización */
.visualization-page-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
        180deg, /* De arriba hacia abajo */
        #493c57 0%,    /* Lavender Gray - un lila apagado y elegante */
        #8c7baa87 35%,   /* Tono intermedio entre el lila y el morado */
        #a89dba81 65%,   /* Suaviza la transición al tono claro */
        #eeecef12 80%, /* Tono claro similar al blanco en el centro */
        #65577c8d 90%,   /* Suaviza la transición al tono oscuro */
        #3e265aa2 100%  /* Deep Plum - un tono profundo y envolvente */
    );
    z-index: 0;
}


/* Contenido de la página */
.visualization-page-container main {
    position: relative;
    z-index: 2; /* Asegura que el contenido esté por encima del fondo */
    color: #4b0082; /* Color de texto oscuro para contraste */
}

/* Ajustes para el título */
.visualization-page-container .titles-games {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.296); 
    font-family: 'Raleway', sans-serif;
    text-align: center;

}

/* Ajustes para el subtítulo */
.visualization-page-container .subtitles-games {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #c1bec8; /* Lila medio para el subtítulo */
}

.visualization-page-container .names {
    color: #3e265a;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.visualization-page-container .description {
    color: #271936c8;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    padding: 40px 160px 0px 160px;
    transition: background-color 0.3s ease;
}


/* Ajustes para las tarjetas */
.visualization-page-container .game-card {
    background: rgba(255, 255, 255, 0.3); /* Fondo semi-transparente */
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    width: 600px;
    height: 250px;
    gap: 160px;
}

.visualization-page-container .game-card:hover {
    box-shadow: 0 10px 30px rgba(147, 112, 219, 0.3); /* Sombra lila */
}

/* Ajustes para los botones */
.visualization-page-container .holographic-btn {
    margin: 1rem;
    background: linear-gradient(
    135deg,
    rgba(116, 90, 178, 0.9) 0%, /* Deep Violet */
    rgba(66, 50, 105, 0.9) 100% /* Dark Plum */
);
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    color: #f0f4f8; /* Texto claro */
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    display: inline-block;    
}

.visualization-page-container .holographic-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(111, 89, 157, 0.4); /* Sombra lila */
}

.visualization-page-container .holographic-btn:active {
    transform: translateY(2px);
    box-shadow: 0 4px 15px rgba(147, 112, 219, 0.2); /* Sombra lila más suave */
}
